<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Settings1.ConnectionString" connectionString="Data Source=VICTOR;Initial Catalog=dbTemisa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Datos.ConnectionString" connectionString="Data Source=.;Initial Catalog=dbTemisa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>